-#  This file is app/views/movies/index.html.haml
%h1 All Movies
= form_tag movies_path, :method => :get, id: "ratings_form" do
  Include:
  - @all_ratings.each do |rating|
    = rating
    - if session[:select_ratings].nil? or session[:select_ratings].include? rating
      = check_box_tag "ratings[#{rating}]", 1, true
    - else
      = check_box_tag "ratings[#{rating}]", 1, false
  = submit_tag 'Refresh', :id => "ratings_submit"
%table#movies
  %thead
    %tr
      %th{:id => 'title_header', :class => @movie_column_class}= link_to "Movie Title", movies_path(:sorting_var => 'title')
      %th Rating
      %th{:id => 'release_date_header', :class => @date_column_class}= link_to "Release Date", movies_path(:sorting_var => 'release_date')
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
